/*****************
 *
 ****************/

.sticky-notes-container {
    border:1px #ccc solid;

}

.note-empty-item {
    display: none;
}

.note-items {
    position: relative;
    overflow: hidden;
    min-height: 800px;
    width: 100%;
    height: 100%;

    background-color:black;
    background-image:url(images/sticky-bg.jpg);
    background-position: center 100%
}

.note-item {
    position: absolute;
    border:1px #ccc solid;
    background: white;
    padding: 0 10px;
}
.note-item:focus, .note-item:active, .note-item:hover {
    z-index: 10001;
}

.ui-draggable-dragging {
    border-color: green;
}

.note-item-head {
    position: relative;
    clear: both;
    width: 100%;
}

.note-item-drag-btn {
    float: left;
    width: 25px;
    cursor: pointer;
}
.note-item-title {
    font-weight: bold;
}
.note-item-actions {
    float: right;
    margin-right: -8px;
}
.note-item-actions span{
    width: 25px;
    cursor: pointer;
    padding-left: 5px;
}

.note-item-actions-delete {
    color: red;
}

.note-item-description {
    height: 100%;
}
.note-item-description textarea {
    height: 100%;
}

.note-item-description-preview {
    height: 100%;
    overflow-x: auto;
    padding: 2px;
}

.note-item-description-preview ul {
    padding: 0;
    margin-left: 16px;
}

.note-collapsed {
    height: 100%;
    padding-bottom: 70px;
}

.note-item-parent {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    left: 0;
    width: 100%;
    padding: 0px 10px;
    background-color: #e6ffe2;
    border: 1px #ccc solid;
}

.ui-resizable-handles {
    position: absolute;
    right: 2px;
    bottom: 0;
    cursor: pointer;
}

input[type="text"].note-input, textarea.note-input {
    width: 100%;
    border: none !important;
    background: transparent !important;
    text-overflow: ellipsis;

}

.note-parent-field {
    width: 32%;
    background: none repeat scroll 0 0 rgba(68, 68, 68, 0);
    border: none;
    color: #1f1c1c;
    font-size: 14px;
    padding: 0 5px;
}

.note-parent-field:focus {
    color: #000;
}


.btn-strategy {
    width: 100%;
    text-align: left !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.note-success {
    background: #e5ffdc;
    border-color: green;
}
.note-success .note-item-title {
    color: #0a2b1d;
}


.note-danger {
    background: #ffd5d5;
    border-color: #800004;
}
.note-danger .note-item-title {
    color: #6b0f1b;
}

.note-warning {
    background: #ffeedc;
    border-color: #804800;
}
.note-warning .note-item-title {
    color: #a95900;
}

.note-default {
    background: #f7f7f7;
    border-color: #454545;
}
.note-default .note-item-title {
    color: #5d5d5d;
}

.sticky-notes-container .note-filters {
    position: absolute;
    left: -3px;
}
.sticky-notes-container .note-filters > div {
    cursor: pointer;
    -webkit-transition: 2s; /* Safari */
    transition: 0.5s;
    width: 30px;
}

.note-filters > div:hover {
    margin-left:2px;
}

.note-filters > .note-filter-active:after{
    content: '\2713';
    font-size: 18px;
    line-height: 14px;
    font-weight: bold;
    display: inline-block;
    color: green;
    -webkit-transition: 0.3s;
    transition: 0.3s;

    position: absolute;
    left: -10px;
    margin-top: 2px;
}

.owl-item .note-filter-active .btn {
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.btn-strategy span {
    font-size: 12px;
    position: absolute;
    right: 2px;
}


.btn-owl-next,  .btn-owl-prev {

}
.btn-owl-next .btn,  .btn-owl-prev .btn {
    width: 100%;
}

.btn-owl-prev {
    text-align: right;
}
.btn-owl-next {
    text-align: left;
}

.owl-nav {
    display: none;
}

.project-item h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn-project {
    width: 100%;
}

#notes-projects-pjax {
    margin-bottom:5px;
}
